/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Poppins:ital,wght@0,400;1,500&display=swap');

/* common style or utilities */

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;

}

/* <!-- The Greatest show on the earth  section start -------------------------------------------> */

.The-Greatest-show {
    display: flex;
    background-color: #161616;
    width: 870px;
    padding: 30px;
    margin-top: 21px;
    border-radius: 5px;
    margin-left: 158px;
    height: 462px;

}

.greatest-show-text h1 {
    color: #FFFFFF;
    font-Weight: 700;
    font-Size: 57px;
    Line-height: 62px;
}

.greatest-show-text p {
    color: #F3F1FF;
    font-Weight: 400;
    font-Size: 16px;
    Line-height: 26px;
}

.greatest-show-text a {
    text-decoration: none;
    background-color: #DD0000;
    Font-size: 20px;
    Line-height: 100%;
    Vertical-align: Top;
    color: white;
    transition: transform 0.5s ease-in;
    transition-duration: 1s;
    display: hidden;




}

.greatest-show-text a:hover {
    width: 400px;
    background-color: coral;
    height: 400px;
    transform: rotate(70deg);

}

.player-one img {
    height: 500px;
}

.fa-right-long {

    transition: transform 3s ease-in-out;


}

.greatest-show-text a:hover .fa-right-long {
    transform: translate(750px);
    color: chocolate;



}

/* <!-- The Greatest show on the earth  section end -------------------------------------------> */

/* blogs section start.............................................................. */


.blogs {
    display: flex;
    width: 933px;
    padding: 30px;
    margin-top: 21px;
    border-radius: 5px;
    margin-left: 128px;
    height: 462px;
    justify-content: center;
}

.blog1 a,
.blog2 a {

    display: flex;
    flex-direction: column;
    border: 1px solid white;
    text-decoration: none;
    width: 165px;
    margin-top: 26px;
    background-color: white;
    margin-left: 33px;
    align-content: center;
    flex-wrap: wrap;
    border-radius: 3px;
    color: #161616;
    font-weight: 500;
    font-size: 16px;
    margin-left: 27px;



}

.blog3 a {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    text-decoration: none;
    width: 165px;
    margin-top: 26px;
    background-color: red;
    margin-left: 33px;
    align-content: center;
    flex-wrap: wrap;
    border-radius: 3px;
    color: #161616;
    font-weight: 500;
    font-size: 16px;
    margin-left: 27px;

}

.blog-text {
    background-color: #161616;
    Width: 231px;
    Height: 195px;
    padding: 3px;
    border-radius: 7px;
    margin-right: 3px;

}

.transfar {
    border: 1px solid black;
    border-radius: 5px;
    font-size: 14px;

}

.blog-images p {
    font-weight: bold;
}

.icon {
    padding: 7px;
    color: gray;

}

.icon1 {
    padding: 7px;
    margin-left: 25px;
    color: gray;
}

.images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 2px;
    column-gap: 8px;


}


.blog-images img {

    width: 231px;
}

.view {
    visibility: hidden;
}


/* blogs section end.............................................................. */

footer {
    color: white;
    background-color: #161616;
    display: flex;
    align-items: center;
    align-content: space-around;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 435px;
    height: 258px;
    width: 732px;
    margin-left: 375px;

}

footer p {

    line-height: 24px;
    display: contents;
    color: #B9B9B9;
}

.footer-icon {
    word-spacing: 32px;
    visibility: hidden;
}

/* mobile view section start */

@media only screen and (max-width:688px) {


    .The-Greatest-show {
        display: flex;
        background-color: #161616;
        width: 370px;
        padding: 5px;
        margin-top: 21px;
        border-radius: 5px;
        margin-left: 8px;
        flex-direction: column;
        height: 20%;
        border-radius: 2%;
        margin-bottom: 10px;


    }

    .player-one img {
        height: 395px;
        margin-left: 4px;
        margin-top: 18px;
    }

    .greatest-show-text p {
        color: #F3F1FF;
        font-Weight: 400;
        font-Size: 16px;
        Line-height: 24px;


    }

    .greatest-show-text a {
        text-decoration: none;
        background-color: #DD0000;
        Font-size: 34px;
        Line-height: 100%;
        Vertical-align: Top;
        color: white;
        transition: transform 0.5s ease-in;
        transition-duration: 1s;
        display: hidden;
        margin-left: 59px;
        margin-bottom: 1845px;
    }



    .images {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 20px;
        margin-left: 70px;

    }



    .blogs {
        display: contents;
        margin-left: 20px;
    }

    .blog1 a,
    .blog2 a {
        display: flex;
        flex-direction: column;
        border: 1px solid white;
        text-decoration: none;
        width: 165px;
        margin-top: 26px;
        background-color: white;
        margin-left: 33px;
        align-content: center;
        flex-wrap: wrap;
        border-radius: 3px;
        color: #161616;
        font-weight: 500;
        font-size: 16px;
        margin-left: 109px;
    }

    .blog3 a {
        display: flex;
        flex-direction: column;
        border: 1px solid white;
        text-decoration: none;
        width: 165px;
        margin-top: 26px;
        background-color: red;
        margin-left: 33px;
        align-content: center;
        flex-wrap: wrap;
        border-radius: 3px;
        color: #161616;
        font-weight: 500;
        font-size: 16px;
        margin-left: 114px;
    }

    .blog-text {
        background-color: #F3F1FF;
    }

    footer {
        color: white;

        display: flex;

        align-content: space-around;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 435px;
        height: 471px;
        width: 301px;
        margin-left: 42px;
        margin-top: 13px;
        text-align: center;
    }

    .footer-icon {
        word-spacing: 32px;
        visibility: visible;
    }



    .footer-tags {
        display: flex;
        flex-direction: column;
    }


}



/* tablet view section start */

@media only screen and (min-width: 688px) and (max-width:992px) {





    .The-Greatest-show {
        display: flex;
        background-color: #161616;
        width: 691px;
        padding: -15px;
        margin-top: 21px;
        border-radius: 27px;
        margin-left: 70px;
        height: 611px;
    }

    .The-Greatest-show img {
        width: 380px;
        height: 654px;
        margin-right: -23px;
    }

    .images {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: -1px;
        margin-left: 83px;
        width: 952px;

    }



    .blogs {
        display: contents;
        margin-left: 20px;
    }

    .blog1 a,
    .blog2 a {
        display: flex;
        flex-direction: column;
        border: 1px solid white;
        text-decoration: none;
        width: 165px;
        margin-top: 26px;
        background-color: white;
        margin-left: 33px;
        align-content: center;
        flex-wrap: wrap;
        border-radius: 3px;
        color: #161616;
        font-weight: 500;
        font-size: 16px;
        margin-left: 109px;
    }

    .blog3 a {
        display: flex;
        flex-direction: column;
        border: 1px solid white;
        text-decoration: none;
        width: 165px;
        margin-top: 26px;
        background-color: red;
        margin-left: 33px;
        align-content: center;
        flex-wrap: wrap;
        border-radius: 3px;
        color: #161616;
        font-weight: 500;
        font-size: 16px;
        margin-left: 114px;
    }

    .blog-text {
        background-color: #F3F1FF;
        display: flex;
        margin-top: 67px;
        margin-inline: -40px;
        line-height: 100px;

    }




    .view {
        visibility: visible;
        font-size: 39px;
        border: 1px solid red;
        background-color: #DD0000;
        margin-top: 88px;
        width: 155px;
        margin-left: 357px;
        border-radius: 7px;
        margin-bottom: 74px;
    }

    .view a {
        text-decoration: none;
        text-align: center;
    }

    footer {
        color: white;

        display: flex;

        align-content: space-around;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 435px;
        height: 471px;
        width: 725px;
        margin-left: 81px;
        margin-top: 13px;
        text-align: center;
    }

    .footer-tags {

        background-color: red;
        align-items: center;
        vertical-align: top;

    }


}




/* tablet view end from here */